In [260]:
pip install -U scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /Users/laptopheaven/Library/Python/3.9/lib/python/site-packages (1.6.0)
Requirement already satisfied: numpy>=1.19.5 in /Users/laptopheaven/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /Users/laptopheaven/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /Users/laptopheaven/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/laptopheaven/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [261]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /Users/laptopheaven/Library/Python/3.9/lib/python/site-packages (1.6.0)
Requirement already satisfied: numpy>=1.19.5 in /Users/laptopheaven/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /Users/laptopheaven/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /Users/laptopheaven/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/laptopheaven/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [262]:
#packege imports
from sklearn import preprocessing, linear_model
import numpy as np

import sklearn

In [274]:
#Data reading
import pandas as pd

df = pd.read_csv("new_house_data.csv")
print(df.columns)
df.drop(["id"],axis=1)
df.head()

Index(['Unnamed: 0', 'id', 'Location', 'lat-lon', 'Area', 'Bed', 'Bath',
       'Price'],
      dtype='object')

,Unnamed: 0,id,Location,lat-lon,Area,Bed,Bath,Price
0,0,0,"Block H, Bashundhara R-A, Dhaka",0.263433,"1,600 sqft",3,3,23 Thousand
1,1,1,"Farmgate, Tejgaon, Dhaka",0.262859,900 sqft,2,2,23 Thousand
2,3,3,"Gulshan 1, Gulshan, Dhaka",0.263010,"2,200 sqft",3,4,78 Thousand
3,4,4,"Baridhara, Dhaka",0.263252,"2,200 sqft",3,3,77 Thousand
4,5,5,"Bashundhara R-A, Dhaka",0.263335,"3,000 sqft",4,5,52 Thousand

In [275]:
# #Data processing
# # Process the "Area" column
# df["Area"] = df["Area"].astype(str).map(lambda i: i.replace(" sqft", "").replace(",", ""))
# df["Area"] = df["Area"].map(lambda i: int(i))  # Convert to integer after cleaning

# # Process the "Price" column
# df["Price"] = df["Price"].astype(str).map(lambda i: i.replace(" Thousand", "000"))
# df["Price"] = df["Price"].map(lambda i: i.replace(" Lakh", "00000").replace(".", ""))
# df["Price"] = df["Price"].map(lambda i: i.replace(" Lakh", "00000").replace(".", ""))
# df["Price"] = df["Price"].map(lambda i: int(i))  # Convert to integer after cleaning

# df.head()
# print(df.columns)
# Data processing
# Process the "Area" column
df["Area"] = df["Area"].astype(str).map(lambda i: i.replace(" sqft", "").replace(",", ""))
df["Area"] = df["Area"].map(lambda i: int(i))  # Convert to integer after cleaning

def process_price(price):
    try:
        
        price = str(price)
        
        if "Thousand" in price and "." in price:
            # Replace decimal point and " Thousand"
            return float(price.replace(" Thousand", "00").replace(".", "")) 
        elif "Thousand" in price:
            # Replace " Thousand" without decimals
            return int(price.replace(" Thousand", "000"))
        if "Lakh" in price and "." in price:
            # Replace decimal point and " Thousand"
            return float(price.replace(" Lakh", "000").replace(".", "")) 
        elif "Lakh" in price:
            # Replace " Lakh" and remove any decimal points
            return int(price.replace(" Lakh", "00000"))
        else:
            # Try converting to an integer directly
            #print("11111")
            return int(price)
    except (ValueError, AttributeError, TypeError) as e:
       # print(f"Error processing price: {price}. Error: {e}")
        return None  # Return None for problematic entries


# Apply the function to the Price column
df["Price"] = df["Price"].map(process_price)

# Check rows where processing failed
print("Rows with invalid Price values:")
print(df[df["Price"].isnull()])

# Optionally drop rows with invalid/missing Price
df = df.dropna(subset=["Price"])  # Drop rows where Price is None



# Display the processed DataFrame
df.head()
print(df.columns)

Rows with invalid Price values:
Empty DataFrame
Columns: [Unnamed: 0, id, Location, lat-lon, Area, Bed, Bath, Price]
Index: []
Index(['Unnamed: 0', 'id', 'Location', 'lat-lon', 'Area', 'Bed', 'Bath',
       'Price'],
      dtype='object')

In [276]:
#df = df[df['Price'] >= 0]  # Remove rows with negative prices
print(df.describe())

       Unnamed: 0          id     lat-lon         Area         Bed  \
count  434.000000  434.000000  434.000000   434.000000  434.000000
mean   250.919355  250.919355    0.263363  1685.064516    2.937788
std    146.640738  146.640738    0.000447   799.152447    0.632675
min      0.000000    0.000000    0.262325   400.000000    1.000000
25%    120.500000  120.500000    0.263076  1200.000000    3.000000
50%    256.500000  256.500000    0.263352  1500.000000    3.000000
75%    376.750000  376.750000    0.263465  2100.000000    3.000000
max    498.000000  498.000000    0.264216  5500.000000    6.000000

             Bath          Price
count  434.000000     434.000000
mean     3.062212   54395.161290
std      0.872098   59909.804798
min      1.000000    6000.000000
25%      3.000000   22000.000000
50%      3.000000   32000.000000
75%      4.000000   63000.000000
max      6.000000  410000.000000

In [277]:
#Checking null value
print(df.columns)

df.isnull().sum()

Index(['Unnamed: 0', 'id', 'Location', 'lat-lon', 'Area', 'Bed', 'Bath',
       'Price'],
      dtype='object')

Unnamed: 0    0
id            0
Location      0
lat-lon       0
Area          0
Bed           0
Bath          0
Price         0
dtype: int64

In [278]:
#Spliting Data
df = df.drop(["Location"],axis=1)

x = np.array(df.drop(["Price"],axis=1))
#print(df.describe())

y = np.array(df["Price"])
print("x",x.shape)
print("y",y.shape)

xTrain,xTest, yTrain, yTest = sklearn.model_selection.train_test_split(x,y,
                                                                      test_size = 0.3,
                                                                      random_state = 10)
print(xTrain.shape)
print(xTest.shape)

x (434, 6)
y (434,)
(303, 6)
(131, 6)

In [279]:
#model Training
# model = LinearRegression(positive=True)
model = linear_model.LinearRegression()
model.fit(xTrain,yTrain)
accuracy = model.score(xTest,yTest)

print("Coefficiants",model.coef_)
print("Y intercept",round(model.intercept_,3))

print("Accuracy",round(accuracy*100,3),"%")

Coefficiants [-7.77951745e+00 -7.77952063e+00 -5.52482665e+06  7.69607448e+01
 -2.29458383e+03 -1.82633151e+04]
Y intercept 1446770.133
Accuracy 71.129 %

In [280]:
#Evaluation
testvals = model.predict(xTest)
# print(testvals)

error = []

for i,testval in enumerate(testvals):
    error.append(yTest[i]-testval)
    
    print(f"Actual value {yTest[i]}; prediction {int(testval)}; Error: {round(error[i])}")

Actual value 64000.0; prediction 28431; Error: 35568
Actual value 68000.0; prediction 76393; Error: -8393
Actual value 11000.0; prediction 115317; Error: -104317
Actual value 245000.0; prediction 141741; Error: 103259
Actual value 32000.0; prediction -3141; Error: 35141
Actual value 12000.0; prediction 3168; Error: 8832
Actual value 115000.0; prediction 159186; Error: -44186
Actual value 22000.0; prediction 41479; Error: -19479
Actual value 42000.0; prediction 44952; Error: -2953
Actual value 100000.0; prediction 70146; Error: 29853
Actual value 40000.0; prediction 68926; Error: -28926
Actual value 27000.0; prediction 27793; Error: -794
Actual value 27000.0; prediction 33754; Error: -6755
Actual value 19000.0; prediction 35651; Error: -16651
Actual value 75000.0; prediction 124205; Error: -49205
Actual value 32000.0; prediction 32833; Error: -833
Actual value 35000.0; prediction 41725; Error: -6725
Actual value 26000.0; prediction 40041; Error: -14042
Actual value 16000.0; prediction 25238; Error: -9238
Actual value 88000.0; prediction 118152; Error: -30152
Actual value 23000.0; prediction 24698; Error: -1698
Actual value 21000.0; prediction 1820; Error: 19180
Actual value 110000.0; prediction 118273; Error: -8273
Actual value 24500.0; prediction 48818; Error: -24318
Actual value 21000.0; prediction 39392; Error: -18392
Actual value 10000.0; prediction 23219; Error: -13219
Actual value 14000.0; prediction 3700; Error: 10300
Actual value 75000.0; prediction 66621; Error: 8378
Actual value 74000.0; prediction 95989; Error: -21989
Actual value 53000.0; prediction 96206; Error: -43206
Actual value 43000.0; prediction 15674; Error: 27326
Actual value 115000.0; prediction 154627; Error: -39627
Actual value 23000.0; prediction 22654; Error: 345
Actual value 22000.0; prediction 22376; Error: -377
Actual value 47000.0; prediction 55280; Error: -8281
Actual value 22000.0; prediction 20879; Error: 1120
Actual value 18000.0; prediction 13603; Error: 4396
Actual value 23000.0; prediction 23061; Error: -62
Actual value 38000.0; prediction 56265; Error: -18265
Actual value 35000.0; prediction 15211; Error: 19788
Actual value 26000.0; prediction 23386; Error: 2614
Actual value 32000.0; prediction 42582; Error: -10582
Actual value 123000.0; prediction 156001; Error: -33002
Actual value 16500.0; prediction 27228; Error: -10729
Actual value 28000.0; prediction 44045; Error: -16046
Actual value 27000.0; prediction 38634; Error: -11634
Actual value 6000.0; prediction 507; Error: 5492
Actual value 63000.0; prediction 69591; Error: -6591
Actual value 21000.0; prediction 17811; Error: 3188
Actual value 21000.0; prediction 21342; Error: -343
Actual value 9500.0; prediction 9804; Error: -304
Actual value 22000.0; prediction 26112; Error: -4113
Actual value 63000.0; prediction 29116; Error: 33884
Actual value 30000.0; prediction 33799; Error: -3799
Actual value 125000.0; prediction 115734; Error: 9265
Actual value 22000.0; prediction 25874; Error: -3874
Actual value 225000.0; prediction 139043; Error: 85957
Actual value 42000.0; prediction 29738; Error: 12261
Actual value 27000.0; prediction 47396; Error: -20397
Actual value 22000.0; prediction 25403; Error: -3403
Actual value 47000.0; prediction 65393; Error: -18393
Actual value 43000.0; prediction 75793; Error: -32794
Actual value 21000.0; prediction 16650; Error: 4349
Actual value 47000.0; prediction 76771; Error: -29772
Actual value 12000.0; prediction 10607; Error: 1393
Actual value 16000.0; prediction 25435; Error: -9436
Actual value 57000.0; prediction 42201; Error: 14798
Actual value 38000.0; prediction 22863; Error: 15136
Actual value 360000.0; prediction 311820; Error: 48179
Actual value 210000.0; prediction 158592; Error: 51408
Actual value 28000.0; prediction 34827; Error: -6828
Actual value 18000.0; prediction 24696; Error: -6696
Actual value 28000.0; prediction 24640; Error: 3360
Actual value 94000.0; prediction 93562; Error: 438
Actual value 26000.0; prediction 6306; Error: 19693
Actual value 85000.0; prediction 98069; Error: -13070
Actual value 54000.0; prediction 91015; Error: -37015
Actual value 32000.0; prediction 63286; Error: -31287
Actual value 32000.0; prediction 31227; Error: 772
Actual value 63000.0; prediction 139199; Error: -76199
Actual value 15000.0; prediction 13581; Error: 1419
Actual value 18000.0; prediction 7141; Error: 10858
Actual value 150000.0; prediction 136206; Error: 13794
Actual value 32000.0; prediction 53332; Error: -21333
Actual value 125000.0; prediction 86165; Error: 38835
Actual value 27000.0; prediction 26911; Error: 88
Actual value 28000.0; prediction 35814; Error: -7815
Actual value 14000.0; prediction 3395; Error: 10604
Actual value 23000.0; prediction 16759; Error: 6240
Actual value 32000.0; prediction 78866; Error: -46866
Actual value 64000.0; prediction 24011; Error: 39988
Actual value 17000.0; prediction 114; Error: 16885
Actual value 42000.0; prediction 72001; Error: -30001
Actual value 21000.0; prediction 18205; Error: 2794
Actual value 19000.0; prediction 18321; Error: 678
Actual value 32000.0; prediction 62125; Error: -30125
Actual value 18000.0; prediction 12114; Error: 5886
Actual value 22000.0; prediction 17008; Error: 4991
Actual value 13500.0; prediction 1291; Error: 12208
Actual value 28000.0; prediction 51491; Error: -23491
Actual value 20000.0; prediction 22252; Error: -2252
Actual value 82000.0; prediction 119119; Error: -37119
Actual value 38500.0; prediction 33824; Error: 4675
Actual value 125000.0; prediction 113092; Error: 11907
Actual value 125000.0; prediction 35900; Error: 89099
Actual value 40000.0; prediction 94048; Error: -54049
Actual value 26000.0; prediction 28607; Error: -2608
Actual value 38000.0; prediction 55165; Error: -17166
Actual value 32000.0; prediction 33242; Error: -1242
Actual value 36000.0; prediction 18084; Error: 17915
Actual value 26000.0; prediction 18998; Error: 7001
Actual value 32000.0; prediction 32128; Error: -128
Actual value 410000.0; prediction 225865; Error: 184135
Actual value 36000.0; prediction 52431; Error: -16432
Actual value 58000.0; prediction 99426; Error: -41427
Actual value 43000.0; prediction 29723; Error: 13277
Actual value 53000.0; prediction 85916; Error: -32916
Actual value 32000.0; prediction 36288; Error: -4288
Actual value 15000.0; prediction 9408; Error: 5592
Actual value 38000.0; prediction 30054; Error: 7945
Actual value 95000.0; prediction 84128; Error: 10872
Actual value 7000.0; prediction -3043; Error: 10043
Actual value 26000.0; prediction 7112; Error: 18888
Actual value 30000.0; prediction 57190; Error: -27191
Actual value 13500.0; prediction 12111; Error: 1389
Actual value 32000.0; prediction 63839; Error: -31840
Actual value 22000.0; prediction 18896; Error: 3104
Actual value 22000.0; prediction 18221; Error: 3779
Actual value 63000.0; prediction 66725; Error: -3725
Actual value 22000.0; prediction 21719; Error: 280
Actual value 88000.0; prediction 97716; Error: -9716